// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.logo {
    width: 195px;
}

.btn-primary {
    color: $white !important;

    svg {
        fill: $white;
    }
}

.section_name {
    text-align: center;
    color: $gray;
    display: block;
    margin-bottom: 20px;
}

.nav {
    color: $black;

    .nav_content {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 70px;

        .link {
            display: flex;
            flex-direction: column;
            gap: 0;

            span {
                font-size: 14px;
            }
        }
    }
}

header {
    color: $black;
    padding: 150px 0;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

    img {
        width: 300px;
    }

    a {
        color: $white !important;
    }

    ul {
        margin-bottom: 40px;

        li {
            list-style: "📌";
            font-size: 18px;
        }
    }

}

.about_us {
    color: $black;
    padding: 50px 0 0 0;

    h2 {
        font-weight: 400;

        strong {
            font-weight: 700;
            color: $primary;
        }
    }

    p {
        font-size: 20px;
        color: $light_gray;
    }
}

.slider {
    padding: 50px 0;

    .swiper {
        width: 100%;
        height: 500px;

        .swiper-button-next:after, .swiper-button-prev:after {
            color: $blue;
        }

        .swiper-slide {
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: transform .3s
            }

            .cover {
                position: absolute;
                left: 0;
                bottom: -5%;
                width: 100%;
                padding: 20px 0;
                background-color: #f0634c;
                text-align: center;
                opacity: 0;
                font-size: 20px;
                color: $white;
                transition: opacity .5s, bottom .5s;

                p {
                    margin: 0;
                }
            }

            .cover_top {
                position: absolute;
                left: 0;
                top: -5%;
                width: 100%;
                padding: 20px 0;
                background-color: #f0634c;
                text-align: center;
                opacity: 0;
                font-size: 20px;
                color: $white;
                transition: opacity .5s, top .5s;
            }

            &:hover {
                .cover {
                    opacity: 0.9;
                    bottom: 0;
                }

                .cover_top {
                    opacity: 0.9;
                    top: 0;
                }

                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.map {
    color: $black;
    padding: 50px 0;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .section_name {
        color: #fff;
        position: relative;
        z-index: 10;
    }

    .cover {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.79);
        z-index: 1;
    }

    iframe {
        position: relative;
        width: 100%;
        height: 400px;
        z-index: 10;
    }

    .row {
        position: relative;
        z-index: 10;
        background-color: #fff;
        @include media-breakpoint-down(md) {
            padding: 15px 0;
        }
    }

    .col-6, .col-lg-6 {
        padding: 0 !important;
        @include media-breakpoint-down(md) {
            padding: 0 15px;
        }

    }

    .col-12 {
        @include media-breakpoint-down(md) {
            padding: 0 15px !important;
        }
    }

    .inner {

        color: $light_gray;
        @include media-breakpoint-down(lg) {
            padding: 15px 0 !important;
        }

        div {
            a {
                font-size: 20px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            a:first-child {
                @include media-breakpoint-down(md) {
                    display: block;
                }
            }

            a:not(:first-child) {

                color: $light_gray;

                &:hover {
                    color: $secondary;
                }
            }
        }
    }

    h3 {
        font-size: 28px;
        font-weight: 700;
        color: $black;
        @include media-breakpoint-down(md) {
            font-size: 22px;
        }
    }

    p {
        font-size: 22px;
        color: $black;
        @include media-breakpoint-down(md) {
            font-size: 18px;
        }
    }

    span {
        font-size: 18px;
    }

    strong {
        color: $blue;
        font-size: 14px;
        padding: 0 5px;
    }

    svg {
        margin-right: 5px;
        margin-left: 5px;
        fill: $secondary;
    }
}
